html {
  box-sizing: outline-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.flex-container {
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vw;
    width: 80vw;
    background-color: black;
    padding:14px;
}
.first-column {
  background-color:#ffffcc;
  flex-direction:column;
  flex: 1;
  display: flex;
}
.a1 {
  flex:1;
  background-color:green;
  display:flex;
  flex-direction:row;
}
.a1a{
  flex:4;
  background-color:white;
  outline: 9px solid black;
}
.a1b{
  flex:7;
  background-color:white;
  outline: 9px solid black;
}
.a2 {
  flex:8;
  display:flex;
  background-color: blue;
}
.a2a {
  flex:2;
  display:flex;
  flex-direction:column;
  background-color: blue;
}
.a2a1{
  flex:6;
  outline: 9px solid black;
  background-color:white;
}
.a2a2{
flex:9;
outline: 9px solid black;
background-color: white;
}
.a2a3{
flex:9;
outline: 9px solid black;
background-color: yellow;}

.a2b {
  flex:6;
  display:flex;
  flex-direction:column;
}
.a2b1{
  flex:1;
  outline: 9px solid black;
  background-color: blue;
}
.a2b2{
  flex:1;
  display:flex;
  flex-direction:column;
  background-color: gray;
}
.a2b2a {
  display:flex;
  flex:1;
  background-color:red;
}
.a2b2b {
  display:flex;
  flex:1;
  background-color:red;
}
.a2b2c {
  display:flex;
  flex:1;
  background-color:red;
}
.a2b2d {
  display:flex;
  flex:1;
  background-color:red;
}
.a2b2a1 {
  flex:1;
  outline: 9px solid black;
  background-color: black;
}
.a2b2a2 {
  flex:1;
  outline: 9px solid black;
  background-color: white;
}
.a2b2b1 {
  flex:1;
  outline: 9px solid black;
  background-color: black;
}
.a2b2b2 {
  flex:1;
  outline: 9px solid black;
  background-color: white;
}
.a2b2c1 {
  flex:1;
  outline: 9px solid black;
  background-color: white;
}
.a2b2c2 {
  flex:1;
  outline: 9px solid black;
  background-color: black;
}
.a2b2d1 {
  flex:1;
  outline: 9px solid black;

  background-color: white;
}
.a2b2d2 {
  flex:1;
  outline: 9px solid black;
  background-color: yellow;
}







.a3 {
  flex:1;
  display:flex;
}
.a3a {
  flex:7.4;
  outline: 9px solid black;
  background-color: white;
}
.a3b {
  flex:2;
  outline: 9px solid black;
  background-color: black;
}
.a3c {
  flex:2;
  outline: 9px solid black;
  background-color: yellow
}

.second-column {
  background-color:white;
  flex: 1;
  display: flex;
}
.b1{
  flex:1;
  outline: 9px solid black;
}
.third-column {
  background-color:white;
  flex: 1;
  display: flex;
}
.c1 {
  flex:1;
  outline: 9px solid black;
}

/*COLUMN A CLASSES*/

